/* Variables */
$background_color_light: #fff;
$background_color_dark: #ecf0f1;
$text_color_grey: #7f8c8d;
$text_color_light: #fff;
$text_color_dark: #000;
$color_main:#f1c40f;



/* Global */

*, *::before, *::after {
    box-sizing: border-box; }

body {
    margin: 0;
    background: $background_color_light;
    color: $text_color_grey;
    font-size: 16px;
    line-height: 1.7;
}

.btn {
    text-decoration: none;
    color: $text_color_light;
    padding: 10px 15px;
    border-radius: 5px;
    background: $color_main;
}

.section-title {
    color: $text_color_dark;
    padding: 40px 0 0 0;
    text-align: center;
    margin-bottom: 5px;
}

.section-subtitle {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-style: italic;
}


/* Splash */

.splash {
    background-image: url("https://images.pexels.com/photos/3178786/pexels-photo-3178786.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: relative;
    display: flex;
    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        align-items: center;
        .brand{
            flex: 1;
            text-align: center;
            color: $color_main;
            font-size: 26px;
            font-style: italic;
            margin: 0;
            p {
                margin: 0;
            }
        }
        .panel {
            flex: 1;
            .nav_panel {
                list-style: none;
                li {
                    display: inline-block;
                    padding-left: 10px;
                    a {
                        text-decoration: none;
                        color: $text_color_light;
                    }
                }
            }
        }
    }
}

.splash-inner {
    color: $text_color_light;
    text-align: center;
    margin: auto;
    h1 {
        font-size: 36px;
    }
    h2 {
        font-style: italic;
    }
}

/* Services */

.col-services {
    text-align: center;
    a {
        display: flex;
        justify-content: center;
        text-decoration: none;
    }
    
}

.services-title {
    color: $text_color_dark;
    font-weight: bold;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    width: 60px;
    height: 60px;
    color: $color_main;
    border: 2px solid $color_main;
    border-radius: 30px;
}

/* Portfolio */


.portfolio {
    background-color: $background_color_dark;
}

.portfolio-row {
    justify-content: center;
}

.portfolio-item {
    padding: 0;
    margin: 25px 10px;
    text-align: center;
    background-color: $background_color_light;
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    p {
        margin: 0 0 15px 0;
    }
}

.portfolio-title {
    color: $text_color_dark;
    font-weight: bold;
    margin: 15px 0 0 0;
    line-height: 1;
}

/* Footer */

.social-media {
    display: flex;
    list-style: none;
    flex-direction: row;
    text-align: center;
    li {
        display: flex;
        margin: 0 15px;
        height: 50px;
        width: 50px;
        background-color: $text_color_dark;
        border-radius: 25px;
        align-items: center;
        justify-content: center;
    }
    i {
        color: $text_color_light;  
    }
}